:root {
    --White: hsl(0, 0%, 100%);
    --Slate300: hsl(212, 45%, 89%);
    --Slate500: hsl(216, 15%, 48%);
    --Slate900: hsl(218, 44%, 22%);
}

/* Réinitialisation des styles par défaut */
*,
*::before,
*::after {
    margin: 0;
    /* Supprime les marges par défaut */
    padding: 0;
    /* Supprime les espacements internes par défaut */
    box-sizing: border-box;
    /* Intègre le contenu, les bordures et le padding dans la largeur/hauteur */
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background-color: var(--Slate300);
    font-family: Outfit;

    min-height: 100vh;

    padding-top: 10px;
    /* Décalage par rapport au footer */
}

.main_container {
    background-color: var(--White);
    border-radius: 20px;
    width: 320px;
    height: 499px;
    padding: 16px 16px 40px 16px;
    margin-top: auto;
    /* Supprime tout effet collant au haut de la page */
    /* box-shadow: 0px 15px 20px -10px hsla(0, 0%, 0%, 0.2); */
    box-shadow: 0px 25px 35px hsla(0, 0%, 0%, 0.1);
}

.main_container img {
    width: 288px;
    height: 288px;
    border-radius: 8px;
}

.text_content {
    text-align: center;
    margin-top: 24px;
    padding: 0 16px;

    display: flex;
    flex-direction: column;
    gap: 16px;
    /* Ajoute un espace entre les enfants (h1 et p) */
}

.main_container h1 {
    color: var(--Slate900);
    font-weight: bold;
    font-size: 22px;
    line-height: 120%;
    letter-spacing: 0;
}

.main_container P {
    color: var(--Slate500);
    font-size: 15px;
    line-height: 140%;
    letter-spacing: 0.2px;
}

.attribution {
    font-size: 11px;
    text-align: center;
    margin-bottom: 10px;
    margin-top: auto;
    /* Positionne la classe attribution en bas */
}

.attribution a {
    color: hsl(228, 45%, 44%);
    text-decoration: none;
}